---
layout: ./base.njk
---

<main class="mx-auto max-w-screen-xl px-2 py-8 md:grid grid-cols-4">
	<div class="col-span-1">
		{% include "partials/sidebar.njk" %}
	</div>
	<article class="prose prose-lg prose-pre:p-0 prose-pre:rounded-none col-span-3">
		{{ content | safe }}
	</article>
</main>
