---
layout: ./base.njk
---

<main class="max-w-screen-xl mx-auto mt-16 px-2 py-8 md:grid grid-cols-5 min-h-[80vh]">
	<div class="col-span-1">
		{% include "partials/sidebar.njk" %}
	</div>
	<article class="prose text-black prose-p:leading-snug prose-md prose-pre:p-0 prose-pre:rounded-none prose-pre:border prose-pre:border-black prose-code:p0 prose-a:text-blue-400 prose-a:underline col-span-4">
		{{ content | safe }}
	</article>
</main>
