<footer class="border-t-2 border-t-black">
	<div class="max-w-screen-md mx-auto px-2 py-16">
		<blockquote class="text-xl font-serif">
			<p class="mb-2 before:content-['“']">
				Computers are COMPLETELY GENERAL, with no fixed purpose or style of operation.
				In spite of this, the strange myth has evolved that computers are somehow ‘mathematical.’
			</p>
			<p class="mb-2">
				Actually von Neumann, who got the general idea about as soon as anybody (1940s). called the computer
			</p>
			<p class="mb-8 font-bold after:content-['”']">THE ALL-PURPOSE MACHINE.</p>
			<footer class="text-right font-sans">&mdash; Ted Nelson, <cite>Computer Lib / Dream Machines</cite></footer>
		</blockquote>
	</div>
</footer>
