<footer class="bg-black text-gray-300">
	<div class="mx-auto max-w-screen-xl px-2 py-16 md:flex">
		<div class="mb-4 basis-1/2">
			<a
				class="text-xl p-4 text-black bg-green-400 hover:bg-green-500"
				href="mailto:daniel@allpurposemachines.com">
				Email us &rarr;
			</a>
		</div>
		<div class="basis-1/2">
			<p class="mb-2">
				Computers are COMPLETELY GENERAL, with no fixed purpose or style of operation.
				In spite of this, the strange myth has evolved that computers are somehow "mathematical."
			</p>
			<p class="mb-2">
				Actually von Neumann, who got the general idea about as soon as anybody (1940s). called the computer
			</p>
			<p class="mb-8">THE ALL-PURPOSE MACHINE.</p>
			<p>Ted Nelson — Computer Lib / Dream Machines</p>
		</div>
	</div>
</footer>
