<nav class="site-nav">
	<div>
		<h1 class="site-title">
			<a href="/">HyperMap</a>
		</h1>
		<ul>
			<li><a href="/docs/"{% if url and url.startsWith("/docs/") %} class="active"{% endif %}>Docs</a></li>
			<li><a href="/spec/"{% if url == "/spec/" %} class="active"{% endif %}>Spec</a></li>
			<li><a href="/explorer/"{% if url == "/explorer/" %} class="active"{% endif %}>Explorer</a></li>
			<li><a href="https://github.com/allpurposemachines/hypermap">Code</a></li>
			<li><a href="https://bsky.app/profile/auxilit.com">Social</a></li>
		</ul>
	</div>
</nav>
