<nav class="text-xl fixed top-0 left-0 right-0 bg-white">
	<div class="flex max-w-screen-md mx-auto py-2 px-2 border-b-2 border-b-black">
		<h1 class="flex-1 font-bold">
			<a class="hover:underline" href="https://www.allpurposemachines.com/">APM</a>
		</h1>
		<div class="flex">
			<ul class="flex gap-4 items-center text-sm md:text-base">
				<li><a class="hover:underline" href="https://docs.allpurposemachines.com/">Docs</a></li>
				<li><a class="hover:underline" href="https://discord.gg/csYd9ZU6Ng">Discord</a></li>
				<li><a class="hover:underline" href="https://github.com/allpurposemachines/hypermap">Github</a></li>
				<li><a class="hover:underline" href="https://www.allpurposemachines.com/posts/">Blog</a></li>
				<li><a class="hover:underline" href="https://twitter.com/APMachines">Twitter</a></li>
			<ul>
		</div>
	</div>
</nav>
