<nav class="bg-black text-white text-xl">
	<div class="flex mx-auto max-w-screen-xl py-2 px-2">
		<h1 class="flex-1 font-bold">
			<a href="https://www.allpurposemachines.com/">APM</a>
		</h1>
		<div class="flex">
			<ul class="flex gap-4 items-center text-sm md:text-base">
				<li><a href="/">Docs</a></li>
				<li><a href="https://discord.gg/cbB7F87z">Discord</a></li>
				<li><a href="https://github.com/allpurposemachines/hypermap">Github</a></li>
				<li><a href="https://twitter.com/APMachines">Twitter</a></li>
			<ul>
		</div>
	</div>
</nav>
