<nav class="text-lg mb-8">
	<h2 class="font-semibold">Overview</h2>
	<ul class="ml-2">
		<li>
			<a class="hover:underline" href="/">Getting Started</a>
		</li>
		<li>
			<a class="hover:underline" href="/about/">About HyperMap and Mech</a>
		</li>
	</ul>
	<h2 class="font-semibold mt-4">Guides</h2>
	<ul class="ml-2">
		<li>
			<a class="hover:underline" href="/converting-an-api/">Converting an API</a>
		</li>
	<ul>
</nav>
